{% extends "auctions/layout.html" %}

{% block body %}
<style>
    .row {
        display: flex;
        align-items: center;
    }

    .column {
        width: 50%;
        padding: 20px;
    }
</style>

<h2>Active Listings in {{name}}</h2>

{% for auction in auctions %}

    <div class="row">
        <div class="column">
            <a href="{% url 'listing' auction.id %}">
                <img src="{{ auction.image_url }}" alt="{{ auction.title }}"
                    style="width: 240px; height: 240px; object-fit: cover;">
            </a>
        </div>
        <div class="column">
            <h3><a href="{% url 'listing' auction.id %}">{{ auction.title }}</a></h3>
            <div><span>Description: </span>{{ auction.description }}</div>
            <div><span>Author: </span>{{ auction.user }}</div>
    
            {% if auction.category %}
                <div><span>Category: </span>{{ auction.category | title }}</div>
            {% else %}
                <div class="font-size-sm mb-1"><span>Category: </span>Not listed.</div>
            {% endif %}
    
            {% if auction.price %}
                <div><span>Price: </span>${{ auction.price }}</div>
            {% else %}
                <div><span>Price: </span>Not specified</div>
            {% endif %}
    
            {% if auction.winner is None %}
                <div><span>Status: </span>Available</div>
            {% else %}
                <div><span>Status: </span>Sold</div>
            {% endif %}
    
            {% if user.is_authenticated %}
                <span>Created at: {{ auction.created_at }}</span>
                {% if auction in user.watchlist.all %}
                    <a href="{% url 'unwatch' auction.id %}"><i class="fa fa-heart"></i></a>
                {% else %}
                    <a href="{% url 'watch' auction.id %}"><i class="far fa-heart"></i></a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}