{% extends "auctions/layout.html" %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>
<style>
    .row {
        display: flex;
        align-items: center;
    }

    .column {
        width: 50%;
        padding: 20px;
    }
    #darkcolor {
        background-color: #2b2b2b;
        border-color: #2b2b2b;
        color: #F0F0F4;
    }
    #lightcolor {
        background-color: #5B5B66;
        border-color: #5B5B66;
        color: #F0F0F4;
    }
</style>

<h2>Watchlist</h2>

<div id="accordion">
    {% for item in watchlist %}
    <h3 id="darkcolor">{{ item.title }}</h3>
    <div class="row"id="lightcolor">
        <div class="column">
            <a href="{% url 'listing' item.id %}">
                <img src="{{ item.image_url }}" alt="{{ item.title }}"
                    style="width: 240px; height: 240px; object-fit: cover;">
            </a>
        </div>
        <div class="column">
            <h3><a href="{% url 'listing' item.id %}" id="lightcolor">{{ item.title }}</a></h3>
            <div><span>Description: </span>{{ item.description }}</div>
            <div><span>Author: </span>{{ item.user }}</div>

            {% if item.category %}
            <div><span>Category: </span>{{ item.category | title }}</div>
            {% else %}
            <div class="font-size-sm mb-1"><span>Category: </span>Not listed.</div>
            {% endif %}

            {% if item.price %}
            <div><span>Price: </span>${{ item.price }}</div>
            {% else %}
            <div><span>Price: </span>Not specified</div>
            {% endif %}

            {% if item.winner is None %}
            <div><span>Status: </span>Available</div>
            {% else %}
            <div><span>Status: </span>Sold</div>
            {% endif %}

            {% if user.is_authenticated %}
            <span>Created at: {{ item.created_at }}</span>
            {% if item in user.watchlist.all %}
            <a href="{% url 'unwatch' item.id %}"><i class="fa fa-heart"></i></a>
            {% else %}
            <a href="{% url 'watch' item.id %}"><i class="far fa-heart"></i></a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}